<div id="app" class="container">
    <nav class="navbar navbar-expand-lg navbar navbar-dark transparent navbar-inverse sticky-top ">
        <a class="navbar-brand" href="#"><img src="{{logoimg}}">MyTrip</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
               
          
              
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="!counter; else elseBlock" >
                    <button mat-button style="color: white; width: 100%;" [routerLink]="['/login']" >{{userName}}</button>
                </li>

                <li *ngIf='counter'>
                        <button mat-button style="color: white; width: 100%;" [matMenuTriggerFor]="menu">{{userName}}</button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click) ='profileView()'>My Profile</button>
                          <button mat-menu-item (click) ='MyTrips()'>My Travels</button>
                          <button mat-menu-item (click)='logoutFunc()'>Logout</button>
                        </mat-menu>
                </li>
              
            </ul>

        </div>
    </nav>
</div>

