<footer class="footer page-footer font-small teal pt-4 " style="background-color: #4a4a4a; color: white;">
        
        <div class="container-fluid text-center text-md-left">
        
                <div class="row">
        
                        <div class="col-md-2"></div>
                        <div class="col-md-4 mt-md-0 mt-3">
                
                                <h5 class="font-weight-bold">Why MyTrip?</h5>
                                <p style="font-size: smaller;">The leading player in online flight bookings in India, MyTrip offers great offers, some of the lowest airfares, exclusive discounts and a seamless online booking experience. With features like Instant Discounts, Fare Calendar, MyRewards Program, MyWallet and many more, the overall booking experience with MakeMyTrip constantly adds value to its product and gb continues to offer the best to its customers.</p>
                        
                        </div>
                                        
                        <hr class="clearfix w-100 d-md-none pb-3">
                
                        <div class="col-md-4 mb-md-0 mb-3">

                                <h5 class="font-weight-bold">Domestic Flights with MyTrip</h5>
                                <p style="font-size: smaller;">MyTrip is India's leading player for flight bookings, and have a dominant position in the domestic flights sector. With the cheapest fare guarantee, experience great value at the lowest price. Instant notifications ensure current flight status, instant fare drops, amazing discounts, instant refunds and rebook options, price comparisons and many more interesting features.</p>
                        
                        </div>
                                
                </div>              
        </div>
        <div class="" style="background-color: black; color: white; height: 20%; padding: 5%;">
                <div>
                        <div class="col-sm-4 float-left">
                                <a href="#"><img src="assets/images/facebook.png" style="height: 10%; width: 10%;"></a>
                                &nbsp;
                                <a href="#"><img src="assets/images/twitter.png" style="height: 10%; width: 10%;"></a>
                                &nbsp;
                                <a href="#"><img src="assets/images/instagram.png" style="height: 10%; width: 10%;"></a>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 float-right footer-copyright">© 2019 Copyright:
                                <a href=".#" style="color: white;"> MyTrip.com</a>
                        </div>
                </div>          
        </div>              
</footer>
