<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
        <footer id="footer" class="footer-1">
                <div class="main-footer widgets-dark typo-light">
                <div class="container">
                <div class="row">
                  
                <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget subscribe no-box">

                <ul>
                <h5 class="widget-title">Our Products<span></span></h5>
                <li><a href="#.">Book Flights</a></li>
                <li><a href="#.">Flight Status</a></li>
                <li><a href="#.">Domestic flights</a></li>
                <li><a href="#.">International Flights</a></li>
                </ul>
                </div>
                </div>
            
                
                <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget no-box">
                
                <ul class="thumbnail-widget">
                <h5 class="widget-title">Quick Info<span></span></h5>  
                <li>
                <div class="thumb-content"><a href="#.">Contact Us</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">About Us</a></div>	
                </li>
                
                </ul>
                </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget no-box">
                <ul>
                <h5 class="widget-title">Payment Options<span></span></h5>
                
                
                <a class="cards" title="MasterCard"><img  widith="50" height="50" src="assets/images/mastercard.png"></a>
                <a class="cards" title="PayPal"><img  width="50" height="50" src="assets/images/paypal.png"></a>
                <a class="cards" title="Visa"><img  width="50" height="50" src="assets/images/visa.png"></a>
               
                </ul>
                </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3">
                
                <div class="widget no-box">
                

                <!-- <img class="image" src="{{social_media}}"-->

                <ul class="social-footer2"> 
                        <h5 class="widget-title">Follow Us On<span></span></h5>
                        <a title="youtube" target="_blank" href="https://www.youtube.com/"><img alt="youtube" width="30" height="30" src="assets/images/youtube.png"></a>
                        <a href="https://www.facebook.com/" target="_blank" title="Facebook"><img alt="Facebook" width="30" height="30" src="assets/images/fb.png"></a>
                        <a href="https://twitter.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="assets/images/twitter.png"></a>
                        <a title="instagram" target="_blank" href="https://www.instagram.com/"><img alt="instagram" width="30" height="30" src="assets/images/instagram.png"></a>
                </ul>
                        
                        
                <!-- <br><br>
                <p>Contact: <a class="mail" href="mailto:info@domain.com">rnqsharma@gmail.com</a></p> -->
                </div>
                </div>
                
                </div>
                </div>
                </div>
                  
                <div class="footer-copyright">
                <div class="container">
                <div class="row">
                <div class="col-md-8 col-sm-6">
                <h6>Copyright MYTRIP © 2019. All rights reserved.</h6>
                </div>
                <div class = "col-md-4 col-sm-2">
                <img  src="assets/images/clients.png" >
                </div>
                </div>
                </div>
                </div>
                </footer>
     
</html>