footer .main-footer,.footer-copyright{
        padding: 20px 0;
        background:black;
        
    }
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget,h6 {
    color : white;
}
.image{
    height:150px;
    width: 200px;
}
