<!-- <div class="card">
<button class="btn btn-primary button" [routerLink]="['/addnewflight', f.id]" type="submit">
ADD New Flight
</button>
</div> -->


<div class="container"  >
        <button class="offset-sm-9 btn btn-primary button" [routerLink]="['/addnewflight', 0]" type="submit">
                ADD New Flight
        </button>
        <br>
        <div class="offset-sm-2 container" *ngFor='let f of fl'>

                <mat-card class="card" >
                        <div class="col-sm-12 container-fluid">
                        <mat-card-header class="row" style="width: 100%;">

                                <div mat-card-avatar class="header-image" ></div>
                                <div class="col-sm-1.5" >
                                        <mat-card-title>{{f.flightCompany}}</mat-card-title>
                                        <mat-card-subtitle>{{f.id}}</mat-card-subtitle>
                                </div>
                                
                                <div class="col-sm-1.5" id="ele">
                                        <mat-card-title>{{f.departureTime}}</mat-card-title>
                                        <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle>
                                </div>
                                <div class="col-sm-1.5" id="ele">
                                        <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                                        <mat-card-subtitle>
                                                <hr>
                                        </mat-card-subtitle>
                                </div>
                                <div class="col-sm-1.5" id="ele">
                                        <mat-card-title>{{f.arrivalTime}}</mat-card-title>
                                        <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
                                </div>

                                <div class="col-sm-1.5" id="ele">
                                        <mat-card-title><span>&#8377;</span>{{f.price}}</mat-card-title>
                                </div>
                                <table>
                                        <tr>
                                        <td>
                                        <mat-card-actions>
                                        <button class="btn btn-primary button" 
                                        [routerLink]="['/addnewflight', f.id]" type="submit" >
                                        EDIT
                                         </button>
                                        </mat-card-actions>
                                </td>
                                <td>
                                        <mat-card-actions>        
                                        <button class="btn btn-primary button" (click)='deleteFlight(f.id)'
                                         type="submit" >
                                         DELETE
                                         </button>
                                        </mat-card-actions>
                                </td>
                                        </tr>
                                </table>
                            
                        </mat-card-header>
                </div>
                </mat-card>
                <br>
        </div>
</div>