<!-- <div class="card">
        <button class="btn btn-primary button" [routerLink]="['/addnewflight', f.id]" type="submit">
            ADD New Flight
        </button>
</div>     -->


<div class="container">
        <button class="btn btn-primary button" [routerLink]="['/addnewflight', 0]" type="submit">
            ADD New Flight
        </button>
<div class="container" *ngFor='let f of fl'>

    <mat-card class="row">
        <mat-card-header class="row">

            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{f.flightCompany}}</mat-card-title>
            <mat-card-subtitle>{{f.id}}</mat-card-subtitle>
            <div class="col-sm-1" id="ele">
                <!-- <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle> -->
            </div>
            <!-- <div class="col-sm-1" id="ele">
                <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                <mat-card-subtitle>
                    <hr>
                </mat-card-subtitle>
            </div> -->

            <div class="col-sm-1" id="ele">
                <mat-card-title>{{f.arrivalTime}}</mat-card-title>
                <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
            </div>

            <!-- <div class="col-sm-1" id="ele">
                <mat-card-title><span>&#8377;</span>{{f.price}}</mat-card-title>
            </div> -->

            <div class="col-sm-1" id="ele">
                <mat-card-actions>
                    <button class="btn btn-primary button" [routerLink]="['/addnewflight', f.id]" type="submit">
                        EDIT
                    </button>
                </mat-card-actions>
            </div>

            <div class="col-sm-1" id="ele">
                <mat-card-actions>
                    <button class="btn btn-primary button" type="submit">
                        DELETE
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-header>

    </mat-card>
    <br>
</div>
</div>