 <div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-body" style="margin-left: 4%; width: 100%;">
            <form>
                <table style="width: 100%;">
                    <div class="row col text-center" style="width: 100%;">
                        
                        <div class="col-sm-1.5">
                            <label>Trip type </label>
                            <select class="form-control">
                                <option>Round Trip</option>
                                <option>One way</option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="col-sm-1.5">
                            <label>From </label>
                            <select class="form-control">
                                <option>Bangalore</option>
                                <option>Delhi</option>
                            </select>
                        </div>
                        &nbsp;  
                        <div class="col-sm-1.5">
                            <label>To </label>
                            <select class="form-control">
                                <option>Chandigarh</option>
                                <option>Pune</option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="col-sm-1.5">
                            <label>Depart</label>
                            <input type="date" class="form-control">
                        </div>
                        &nbsp;
                        <div class="col-sm-1.5">
                            <label>Return</label>
                            <input type="date" class="form-control">    
                        </div>
                        &nbsp;
                        <div class="col-sm-1.5">
                            <label>Travellers </label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="col-sm-1.5">
                            <label class="">Class </label>
                            <select class="form-control">
                                <option>Economy</option>
                                <option>Business</option>
                            </select>
                        </div>
                        
                    </div>
                    <br>
                    <div class="center">
                        <button class="btn btn-primary button" style="width: 20%; height: 50px; border-radius: 10px;"   >
                            Find Flights
                        </button>
                    </div>
                </table>
                
            </form>
        </div>
    </div>
</div>