<form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2" class="bmd-label-floating">Name</label>
          <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2" class="bmd-label-floating">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail2">
        </div>
        <span class="form-group bmd-form-group"> <!-- needed to match padding for floating labels -->
          <button type="submit" class="btn btn-primary">Send invitation</button>
        </span>
      </form>