<app-search-list></app-search-list>
    <app-filter></app-filter>

<br><br>
<div *ngIf="!roundTripBool">
    <div class="container" *ngFor='let f of flightList'>

        <mat-card class="row">
            <mat-card-header class="row">

                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{f.flightCompany}}</mat-card-title>
                <mat-card-subtitle>{{f.flightID}}</mat-card-subtitle>
                <div class="col-sm-1" id="ele">
                    <mat-card-title>{{f.departureTime}}</mat-card-title>
                    <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle>
                </div>
                <div class="col-sm-1" id="ele">
                    <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                    <mat-card-subtitle>
                        <hr>
                    </mat-card-subtitle>
                </div>

                <div class="col-sm-1" id="ele">
                    <mat-card-title>{{f.arrivalTime}}</mat-card-title>
                    <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
                </div>

                <div class="col-sm-1" id="ele">
                    <mat-card-title><span>&#8377;</span>{{f.price}}</mat-card-title>
                </div>

                <div class="col-sm-1" id="ele">
                    <mat-card-actions>
                        <button class="btn btn-primary button" [routerLink]="['/reviewBooking', f.flightID]" type="submit">
                            BOOK
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card-header>

        </mat-card>
        <br>
    </div>
</div>






<div *ngIf="roundTripBool">
<div id="div1"  class="table-responsive" *ngIf="roundTripBool">

    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <div class="row">
                    <div class="col-sm">{{from}} to {{to}}</div>
                    <div class="col-sm">{{to}} to {{from}}</div>
                </div>
            </thead>
            <div>fdgfgfgff</div>
            <tbody>
                <div class="col-sm-6 float-left">
                    <mat-radio-group color='primary' aria-label="Select an option">
                        <div class="row" *ngFor='let f of flightList'>
                            <mat-radio-button  value='{{f.flightID}}'>
                                <div class="col-sm">
                                    <mat-card class="row" id="rowCard">
                                        <mat-card-header class="row">
                                            <div mat-card-avatar class="header-image-table"></div>
                                            <mat-card-title id="tablecardtitle">{{f.flightCompany}}</mat-card-title>
                                            <mat-card-subtitle>{{f.flightID}}</mat-card-subtitle>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle">{{f.departureTime}}</mat-card-title>
                                                <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                                                <mat-card-subtitle>
                                                    <hr>
                                                </mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle">{{f.arrivalTime}}</mat-card-title>
                                                <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle"><span>&#8377;</span>{{f.price}}
                                                </mat-card-title>
                                            </div>
                                        </mat-card-header>
                                    </mat-card>
                                    <br>
                                </div>
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>

                <div class="col-sm-6 float-right">
                    <mat-radio-group color='primary' aria-label="Select an option">
                            <div class="row" *ngFor='let f of flightList'>
                                <mat-radio-button  value='{{f.flightID}}'>
                                    <!-- <div class="col-sm-2"></div> -->
                                    <div class="col-sm">
                                        <mat-card class="row" id="rowCard">
                                            <mat-card-header class="row">
                                                <div mat-card-avatar class="header-image-table"></div>
                                                <mat-card-title id="tablecardtitle">{{f.flightCompany}}</mat-card-title>
                                                <mat-card-subtitle>{{f.flightID}}</mat-card-subtitle>
                                                <div class="col-sm-1" id="ele">
                                                    <mat-card-title id="tablecardtitle">{{f.departureTime}}</mat-card-title>
                                                    <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle>
                                                </div>
                                                <div class="col-sm-1" id="ele">
                                                    <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                                                    <mat-card-subtitle>
                                                        <hr>
                                                    </mat-card-subtitle>
                                                </div>
                                                <div class="col-sm-1" id="ele">
                                                    <mat-card-title id="tablecardtitle">{{f.arrivalTime}}</mat-card-title>
                                                    <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
                                                </div>
                                                <div class="col-sm-1" id="ele">
                                                    <mat-card-title id="tablecardtitle"><span>&#8377;</span>{{f.price}}
                                                    </mat-card-title>
                                                </div>
                                            </mat-card-header>
                                        </mat-card>
                                        <br>
                                    </div>
                                    <!-- <div class="col-sm-2"></div> -->
                                </mat-radio-button>
            
                            </div>
                        </mat-radio-group>
                    </div>
            
            </tbody>
        </table>
    </div>
    
</div>
</div>  