<div class="container">
    <div class="card">
        <div class="card-body">
            <div style="font-weight: bold; text-align: center">
                <h2>Search flights</h2>
                <h4 style="color: grey;">Fly anywhere. Fly everywhere.</h4>
            </div>
            <form>
                <div class="form-group">
                    <input type="radio" name="oneWay" value="" checked> One Way <br>
                    <input type="radio" name="roundTrip" value=""> Round Trip <br>
                </div>

                <div class="form-group">
                    <label> To :</label>
                    <div class="">
                        <select class="form-control">
                            <option >Bangalore</option>
                            <option >Delhi</option>    
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label> From :</label>
                    <div class="">
                        <select class="form-control">
                            <option >Bangalore</option>
                            <option >Delhi</option>
                        </select>
                    </div>
                </div>

                <div class="">
                    <div class="form-group">
                        <label>Departure</label>
                        <div class="">
                            <input class="form-control" id="email" type="date" placeholder="Email (required)" formControlName="email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Return</label>
                        <input class="form-control" id="email" type="date" placeholder="Email (required)" formControlName="email"/>
                    </div>
                    
                    <div class="form-group">
                        <label>Travellers :</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Class :</label>
                        <select class="form-control">
                            <option>Economy</option>
                            <option>Business</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="">
                            <button class="btn btn-primary form-group" style="width:120px;" type="submit">
                                Find Flights
                            </button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger"
                    *ngIf="errorMessage">{{errorMessage}}
                </div>
            </form>
        </div>
    </div>
</div>
