<!-- 
<div class="container-fluid" >
    <div class="row" *ngFor = 'let b of bArray'>
       


           <mat-card class="row">
                <mat-card-header class="row">
                    <div mat-card-avatar class="header-image"></div>
                    <h4>HISTORY</h4>
                    <div class="col-sm-6" id="ele">
                        <mat-card-title> Flight ID: {{b.flightId}}</mat-card-title>
                        <mat-card-title> Flight Company: {{b.flightCompany}}</mat-card-title>
                        <mat-card-title> Departure: {{b.departureName}}</mat-card-title>
                        <mat-card-title> Departure time: {{b.departureTime}}</mat-card-title>
                        <mat-card-title> Arrival: {{b.arrivalName}}</mat-card-title>
                        <mat-card-title> Arrival Time: {{b.arrivalTime}}</mat-card-title>
                        <mat-card-title> Price: {{b.price}}</mat-card-title>
                        <mat-card-title> Flight Duration: {{b.duration}}</mat-card-title>
                    </div>
                    <hr>
                    </mat-card-header>
            </mat-card>
           


        
        <div>    
        </div>

         -->

         <div class="container" *ngFor='let f of bArray'>
                <mat-card class="row">
                    <mat-card-header class="row">
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>{{f.flightCompany}}</mat-card-title>
                        <mat-card-subtitle>{{f.id}}</mat-card-subtitle>
                        <div class="col-sm-1" id="ele">
                            <mat-card-title>{{f.departureTime}}</mat-card-title>
                            <mat-card-subtitle>{{f.departureName}}</mat-card-subtitle>
                        </div>
                        <div class="col-sm-1" id="ele">
                            <mat-card-subtitle>{{f.duration}}</mat-card-subtitle>
                            <mat-card-subtitle>
                                <hr>
                            </mat-card-subtitle>
                        </div>
                        <div class="col-sm-1" id="ele">
                            <mat-card-title>{{f.arrivalTime}}</mat-card-title>
                            <mat-card-subtitle>{{f.arrivalName}}</mat-card-subtitle>
                        </div>
                        <div class="col-sm-1" id="ele">
                            <mat-card-title><span>&#8377;</span>{{f.price}}</mat-card-title>
                        </div>
                    </mat-card-header>
                </mat-card>
                <br>
            </div>        