<div class= "container">

<div class="card" style ="height:700px"> 
    <div class ="card-body">
        <div class= "table table-responsive">
            <table class= "table">
                <tr  *ngFor = 'let f of fl  | unique'>
                    
                    <td> 
                        <img src= \assets\images\airasia.png   height="60" width="60">
                    </td>
                    <td>
                    {{f.flightCompany}}
                    </td>
                    <td>
                                            <button type="button" class="btn btn-primary">edit</button>
                                    </td>
                                    <td>
                                            <button type="button" class="btn btn-primary">delete</button>
                                    </td>
                </tr>

                    



        </table>
        <button type="button" class="btn btn-primary add" >Add</button>



</div>

    </div>
</div>



</div> 

        
