<div class="container">
    <div class="card">
        <div class="card-body">

    <div style="font-weight: bold; text-align: left; color: grey">
    <h2>Edit profile</h2>
    </div>
    
    <form (ngSubmit)="saveProfile()" [formGroup]="profileForm">
    <!-- <div class="offset-md-6"> -->
    
    <div class="form-group row mb-3">
    <label class="col-md-2 col-form-label" for="descriptionId">Full Name</label>
    
    <div class="col-md-6">
        <input class="form-control" id="fullName" placeholder="full Name" rows=3 formControlName="fullName"/>
    </div>
    </div>
    
        <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label"
            for="descriptionId">Gender</label>
            <div class="col-md-6">
                <input type="radio" name="gender" value="male" checked formControlName="gender"> Male<br>
                <input type="radio" name="gender" value="female" formControlName="gender"> Female<br>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-md-2 col-form-label"
            for="descriptionId">Date of Birth</label>
            
            <div class="col-md-6">
            <input class="form-control"
            id="dob"
            placeholder=""
            rows=3
            formControlName="dob"
            />
            
            </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label"
                for="descriptionId">Address</label>
                
                <div class="col-md-6">
                <input class="form-control"
                id="address"
                rows=3
                input type="text-area"
                formControlName="address"
                />
                
                </div>
                </div>


                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="descriptionId">City</label>                    
                    <div class="col-md-6">
                        <input class="form-control" id="city" placeholder="city" rows=3 formControlName="city"/>                    
                    </div>
                </div>

            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label" for="descriptionId">State</label>
                <div class="col-md-6">
                    <input class="form-control" id="state" placeholder="state" rows=3 formControlName="state"/>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label" for="descriptionId">Country</label>                            
                <div class="col-md-6">
                    <input class="form-control" id="country" placeholder="country" rows=3 formControlName="country"/>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label" for="descriptionId">PinCode</label>
                <div class="col-md-6">
                    <input class="form-control" id="pincode" placeholder="pincode" type="number" rows=3 formControlName="pincode"/>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label" for="descriptionId">PhoneNo</label>                                    
                <div class="col-md-6">
                    <input class="form-control" id="mobile" placeholder="PhoneNo" type="number" rows=3 formControlName="mobile"/>                    
                </div>
            </div>
        
    <div class="form-group row mb-4">
        <div class="offset-md-3 col-md-4">
            <button class="btn btn-primary mr-6" style="width:200px;" type="submit">
                Update Profile
            </button>
        </div>
    </div>

    </form>
    </div>
</div>

    
    <div class="alert alert-danger"
        *ngIf="errorMessage">{{errorMessage}}
    </div>