<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class = "container ">
    <div class = "row">
        <div class ="col-lg-8 col-sd-2 ">
            
         <section class="sec">
                <!-- <div class ="col-md-2" style="padding-right:30px; border-right: 1px solid black">
                        Depart    
                         
                         
                </div> 
                 -->
                 <div class = "row">
                 <div class="col-md-3 col-sd-2 col-md-offset-4" style="padding-right:30px; border-right: 1px solid #ccc;">
                        <h6>Depart</h6>
                    </div>
            
                    <div class="col-md-3 col-sm-2 col-md-offset-4">
                        <h6>BLR-HYD</h6>
                    </div>

                    <div class="col-md-6 col-sm-4 rght " >
                            <h6>BLR-HYD</h6>
                        </div>
                </div>
                
         <hr>
            <div class="pdng"><p>section</p></div>

         <hr>
            <!-- <div class ="col-md-4 col-sm-2 btm">

                cabin
            </div> -->
            <div class = "row">
            <div class="col-md-3 col-sd-2 pdng" style="padding-right:20px; border-right: 1px solid #ccc;">
                    <h6>Baggage:</h6>
                    <p>adult</p>

                </div>
        
                <div class="col-md-3 col-sm-2">
                    <h6>Check in</h6>
                    <p>7kg</p>
                </div>
            </div>
            
        
        </section>
        <button class="btn">Continue</button>
     </div>
        
        <div class="col-md-3 col-sm-2 col-md-offset-4">
        <aside class="aside">
            <p>aside</p>
        </aside>
        </div>
    
    </div>
    
</div>