* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid lightslategray;
  background:transparent;
  border-radius: 1%;
  text-decoration-color: black;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: transparent;
  outline: none;
}

.snackbar {
  background-color: white;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 976px) {
   .google {
    margin-left: 30%;
  }
}



.col {
  
  width: 100%;
  margin: auto;
  
  margin-top: 2%;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  }



.btn-google {
  color: white;
  background-color: #ea4335;
  }

  .card{
    
    background-color: white;
    
    width:60%;
    margin-left: 18%;
    border-radius: 2%;
    
  }
