


<div class="container-fluid">
 
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <div class="card ">
            <div class="card-body">
        
        <h1>Create New Account</h1>
      <form [formGroup]="scheduleForm">
  
            <div class="container" >
              <p>Please fill in this form to create an account.</p>
              
              <hr>
              <label for="name"><b>Full Name</b></label>
              <input type="text" placeholder="Enter Full Name" name="name" value="{{profileData.fullName}}" onkeypress="return (event.charCode > 64 && 
              event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required #name>
        
              <label for="UserEmail"><b>Email</b></label>
              <input type="text" id="email" class="form-control" placeholder="Email address"
              name="email" required #email>
              <strong style="font-size: 18px;">Gender</strong><br><br>

              <!-- <input type="radio" name="gender" value="male"> Male
              <input type="radio" name="gender" value="female"> Female -->

              <select #gender>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
        
              <br><br><br>
        
              <label for="birthdate"><strong>Date Of Birth:</strong></label>&nbsp;&nbsp;
              <input class="birthdate" type="date" placeholder="YYYY-MM-DD" data-date-split-input="true" required #dob>
              <br><br><br>
              <label for="psw"><b style="font-size: 20px;">Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required #password>
              
              <label for="psw-repeat"><b style="font-size: 18px;">Confirm Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required >
          
              <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label>
              <br><br>
             
          
              <div class="clearfix">
            
                <button type="submit" class="signupbtn btn btn-primary button"  (click)="postProfileData(name.value, email.value, gender.value, dob.value, password.value)">CREATE ACCOUNT</button>
              </div>
              <h4 style="text-align: center;">
                OR CREATE ACCOUNT WITH 
              </h4>
              
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"> Sign up with
                Facebook</button>
          
        
            </div>
          </form>
        </div>
          
          </div>

          
    </div>

    <div class="col-md-2">
    </div>
  </div>
</div>