
<!-- <body> -->
<div id="div1">
        <router-outlet>

            <app-header></app-header>
            <!-- <app-search-flights></app-search-flights> -->
            <!-- <app-footer></app-footer> -->
            <br>
   
        
    
        </router-outlet>
    </div>
<!-- <div id="div1">
    <!-- <router-outlet></router-outlet>  
         <app-header></app-header>
        <br>
        
        
        <app-search-flights></app-search-flights>



<div id="div1">
    
    <router-outlet>
        <app-header></app-header>
        <br>
        <!-- <app-search-flights></app-search-flights> -->
        <!-- <router-outlet></router-outlet> -->
    
    <br>
    
          
 
    <app-footer></app-footer>


 <div>
        
    </div>