mat-checkbox{
    color: primary;
    font-size: 12px;
    /* .mat-checkbox-background {
        background-color: rgb(0,178,0);
    }
    .mat-ink-ripple{
        background-color: rgba(0, 178, 0, .26);
    } */
}