
<div class="container">
  <div class="card"  >
    <div class="card-body">
      <table>
        
          <tbody>
            <div class="row">
              <div class="col-sm-2">stops
                <br>
                <mat-checkbox color="primary">Non stop</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">1 stop</mat-checkbox>
                
              </div>
              <div class="col-sm-3">Departure Time
                  <br>
                  <mat-checkbox color="primary">Before 9am</mat-checkbox>
                  &nbsp;
                  <mat-checkbox color="primary">9am - 6pm</mat-checkbox>
                  &nbsp;
                  <mat-checkbox color="primary">After 6pm</mat-checkbox>
              </div>
              <div class="col-sm-3">Arrival Time
                  <br>
                <mat-checkbox color="primary">Before 9am</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">9am - 6pm</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">After 6pm</mat-checkbox>
              </div>
              <div class="col-sm-3">Airlines
                  <br>
                <mat-checkbox color="primary">Indigo</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">Air Asia</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">Vistara</mat-checkbox>
                &nbsp;
                <mat-checkbox color="primary">Spicejet</mat-checkbox>
              </div>
              <div class="col-sm-1" style="margin-top: 20px;">
                <form>
                  <div class="form-group row mb-4">

                  <button class="btn btn-primary mr-6"
                  style="width:100px;"
                  type="submit"
                  >
                  apply 
                  </button>
                  
                  </div>
              
                </form>
              </div>
            </div>
          </tbody>
        </table>
    </div>