<div class="row" >
    <div class="offset-md-2 col-md-8">
            <div class="container">
                    <div class="card"  >
                        <div class="card-body" style="height:200px;">
                
                    <div class="col-md-2"style=" text-align: left; color: grey">
                    <h6>Apply filter</h6>
                    </div>
                    
                    <form (ngSubmit)="saveProfile()" [formGroup]="profileForm">
                    <!-- <div class="offset-md-6"> -->
                    
                    
                    
                        <div class="form-group row mb-3">
                            <label class="col-md-2 col-form-label"
                            for="descriptionId">Gender</label>
                            <div class="col-md-6">
                                <input type="radio" name="gender" value="male" checked> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                            </div>
                            </div>
                        
                            <mat-checkbox>Check me!</mat-checkbox>
                
                
                    <div class="form-group row mb-4">
                    <div class="offset-md-3 col-md-4">
                    <button class="btn btn-primary mr-6"
                    style="width:200px;"
                    type="submit"
                    >
                    apply filter
                    </button>
                    </div>
                    </div>
                
                    </form>
                    </div>
                </div>
    </div>
</div>
