<div class="footer">
    <footer>
        <div class="container">
            <div class="table-responsive col-sm-12">
                <table >
                    <tbody>
                        <div class="row">
                            <div class="col-sm-5">
                                <mat-card class="row" id="rowCard">
                                    <mat-card-header class="row">
                                        <div mat-card-avatar class="header-image-table"></div>
                                        <mat-card-title id="tablecardtitle">f.flightCompany</mat-card-title>
                                        <mat-card-subtitle>f.flightID</mat-card-subtitle>
                                        <div class="col-sm-1" id="ele">
                                            <mat-card-title id="tablecardtitle">f.departureTime</mat-card-title>
                                            <mat-card-subtitle>f.departureName</mat-card-subtitle>
                                        </div>
                                        <div class="col-sm-1" id="ele">
                                            <mat-card-subtitle>f.duration</mat-card-subtitle>
                                            <mat-card-subtitle>
                                                <hr>
                                            </mat-card-subtitle>
                                        </div>
                                        <div class="col-sm-1" id="ele">
                                            <mat-card-title id="tablecardtitle">f.arrivalTime</mat-card-title>
                                            <mat-card-subtitle>f.arrivalName</mat-card-subtitle>
                                        </div>
                                        <div class="col-sm-1" id="ele">
                                            <mat-card-title id="tablecardtitle"><span>&#8377;</span>f.price
                                            </mat-card-title>
                                        </div>
                                    </mat-card-header>
                                </mat-card>
                                <br>
                            </div>
                            <div class="col-sm-5 float-right">
                                    <mat-card class="row" id="rowCard">
                                        <mat-card-header class="row">
                                            <div mat-card-avatar class="header-image-table"></div>
                                            <mat-card-title id="tablecardtitle">f.flightCompany</mat-card-title>
                                            <mat-card-subtitle>f.flightID</mat-card-subtitle>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle">f.departureTime</mat-card-title>
                                                <mat-card-subtitle>f.departureName</mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-subtitle>f.duration</mat-card-subtitle>
                                                <mat-card-subtitle>
                                                    <hr>
                                                </mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle">f.arrivalTime</mat-card-title>
                                                <mat-card-subtitle>f.arrivalName</mat-card-subtitle>
                                            </div>
                                            <div class="col-sm-1" id="ele">
                                                <mat-card-title id="tablecardtitle"><span>&#8377;</span>f.price
                                                </mat-card-title>
                                            </div>
                                        </mat-card-header>
                                    </mat-card>
                                    <br>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn-primary" style="border-radius: 20px; margin-top: 30px; width: 100%;"x>BOOK NOW</button>
                                </div>
                            </div>
                            
                    </tbody>
                </table>
            </div>
        </div>
    </footer>
</div>