
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <!-- <div class="form-label-group"> -->
              <label for="inputEmail"><b>Email address</b></label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
              <!-- <div class="form-label-group"> -->
                <br>
              <label for="inputPassword"><b>Password</b></label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class="row">
                <div class="col-lg-6 col-md-6 col -12">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="forgot">
                    <a href="#">forgot Password?</a>
                  </div>
                </div>
              </div>
            
             <a routerLink="/signup" class="nav-link"> New User?Create New Account</a>
              
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [routerLink] = "'/viewprofile'" >Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"> Sign in with
                Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
