
<form (ngSubmit)='getres()' style="border:1px solid #ccc">
    <div class="container">
      
      <hr>
  
      <label for="email"><b  style= "font-size: 22px;">Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b  style= "font-size: 22px;">Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"  id= "passeword" required>
  
      <a href="#" class="forgot"> forgot Password?</a>
      <div class="clearfix">
        
        <button type="submit" class="signupbtn "> login</button>
      </div>
      <h5 style="text-align: center ;font-size : 25px;" >
        OR login WITH 
      </h5>

      <div class="col">
          <a href="#" class="fb btn" style = "font-size : 20px; margin-right: 20px; border-radius: 4px;">
            <i class="fa fa-facebook fa-fw"></i> login with Facebook
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" class="google btn "  style = "font-size : 20px; border-radius: 4px;">
            <i class="fa fa-google fa-fw"></i> login with Google+
          </a>
        </div>
  

    </div>
  </form>